@charset "utf-8";
/* CSS Document */

body{
	background-color: black;
	background: url("fondo.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
}

a{
	font-size: 25px;
}

c{
	font-size: 35px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
}

d{
	font-size: 40px;
	font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', 'Arial Black', 'sans-serif';
	color: darkred;
}

x{
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 35px;
}

t{
	font-size: 30px;
}

div{
	opacity: 0.9;
	background: linear-gradient(white,green);
	width: 289px;
	height: 400px;
	font-size: 20px;
	color: white;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

table{
	border-spacing: 50px;
}


div:hover{
	color:white;
	-webkit-transform:skew(-1deg);
	background: black;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	width: 289px;
	height: 400px;
	font-size: 20px;
}